<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>
<body>
    <div class="app-header">
        <h1>
            <img src="../static/images/auth_logo.svg" alt="AUTH Icon">
            Search Engine
        </h1>
    </div>
    <div class="search-container">
        <img src="../static/images/NefosQuestLogo.png" alt="App Logo" class="app-logo">
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="Place your query to the engine">
            <button id="search-button">
                <img src="../static/images/searchengin.svg" alt="Search">
            </button>
        </div>
    </div>
</body>
</html>