<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/images/NefosQuestLogo-small.png">
    <title>NefosQuest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>
<body>
    <div class="container">
        <div class="search-container">
            <img src="../static/images/NefosQuestLogo.png" alt="App Logo" class="app-logo">
            <div class="search-bar">
                <input type="text" id="search-input" name="query" placeholder="Place your query to the engine">
                <button id="search-button" onclick="submitSearch()">
                    <img src="../static/images/search_icon.svg" alt="Search">
                </button>
            </div>
            <div class="dropdown">
                <button class="analytics-btn">Analytics</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('keywords') }}">Important Keywords</a>
                    <a href="{{ url_for('similarities', k=5) }}">Member Similarity</a>
                    <a href="{{ url_for('lsi') }}">Topics - LSI</a>
                    <a href="{{ url_for('ner') }}">Named Entity Recognition</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/homepage.js') }}"></script>
</html>