<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ομιλία</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/results.css') }}">
    <link rel="stylesheet" href='css/speech.css'>
</head>
<body>
<div class="app-header">
        <h1>
            <img src="../static/images/NefosQuestLogo-small.png" alt="Logo">
            NefosQuest
        </h1>
</div>
<div class="speech-container">
    <div class="speech">
        <div class="attribute">
            <span class="label"><b>Μέλος Βουλής:</b></span>
            <div class="value"> {{ result['member_name'] }}</div>
        </div>
        <div class="attribute">
            <span class="label"><b>Ημερομηνία Ομιλίας:</b></span>
            <div class="value">{{ result['sitting_date'] }}</div>
        </div>
        <div class="attribute">
            <span class="label"><b>Περίοδος:</b></span>
            <div class="value">{{ result['parliamentary_period'] }}</div>
        </div>
        <div class="attribute">
            <span class="label"><b>Συνεδρία:</b></span>
            <div class="value">{{ result['parliamentary_session'] }}</div>
        </div>
        <div class="attribute">
            <span class="label"><b>Συνεδρίαση:</b></span>
            <div class="value">{{ result['parliamentary_sitting'] }}</div>
        </div>
        <div class="attribute">
            <span class="label"><b>Κόμμα:</b></span>
            <div class="value">{{ result['political_party'] }}</div>
        </div>
        <div class="attribute">
            <span class="label"><b>Ομιλία:</b></span>
            <div class="value">{{ result['speech'] }}</div>
        </div>
    </div>
</div>
</body>
</html>