/* static/css/homepage.css */
body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.app-logo {
    width: 60%; /* Adjust the width of the logo */
    height: 50%; /* Adjust the height of the logo */
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(150, 150, 255, 0.5);
    overflow: hidden;
}

#search-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    width: 500px;
}

#search-button {
    background-color: #8a2be2;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    padding: 10px;
}

#search-button img {
    width: 20px; /* Adjust the size of the magnifying glass icon */
    height: 100%;
    filter: brightness(0) invert(1);
}
